@use "../../variables" as *;
@use "../../mixins" as *;

.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text;

  form {
    padding: 30px;
    box-shadow: $transparent 0 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 6px;
    h3 {
      color: $text;
    }

    input {
      margin-bottom: 20px;
      padding: 5px;
      background-color: transparent;
      outline: 0;
      border: 0;
      border-bottom: 0.5px solid $primary;
      color: $primary;
      letter-spacing: 0.5px;
      font-size: $fs-small;

      &::placeholder {
        color: $placeholder;
        letter-spacing: 1px;
      }
    }

    button {
      outline: 0;
      border: 0;
      display: inline-block;
      background-color: transparent;
      color: $primary;
      box-shadow: $primary 0 0 5px;
      padding: 10px 30px;
      border-radius: 6px;
    }
  }
}
