// src/styles/_variables.scss

$background: #000000;
$primary: #06f9ec;
$secondary: #179c95;
$text: #cbfffc;
$text-low: #05bbb2;

$placeholder: #367e86;
$shadow: #031e1e;
$error: #ea796fd3;

$transparent: #06f9ed5e;
$borderradius: 5px;
$fs-small: 16px;
