@import "../../App.scss";

.library {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 150px 15px 0 15px;



    @include mini-tablet {
         padding: 200px 15px 0 15px;
        gap: 50px;
      }

      .library-title {
        color: $primary;
      }


}