@import "../../App.scss";

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    gap: 60px;

    .admin {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0px;
        right: 5px;
        gap: 15px;
        width: auto;
    
        button {
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: $background;
            color: $text-low;
            border: 0;
            outline: 0;
            padding: 5px 15px;
            border-radius: 7px;
            font-size: 12px;
            letter-spacing: .5px;
            cursor: pointer;
        }
    }

    .home-hero {
        width: 100%;
    }

    .home-blogs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .home-blogs-title {
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                font-size: 35px;
                font-weight: 200;
                color: $primary;

                @include mini-tablet {
                    font-size: 45px;
                }
            }
        }

        .home-blogs-content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;

            @include mini-tablet {
                max-width: 900px;
            }
        
        }

        .home-blogs-button {

            button {
                display: inline-block;
                padding: 10px 30px;
                background-color: $background;
                color: $primary;
                border: 2px solid $primary;
                border-radius: 6px;
                outline: none;
                margin-top: 15px;
                cursor: pointer;
                transition: 400ms;
                font-size: 15px;
                font-weight: 700;

                @include desktop {
                    &:hover {
                        box-shadow: 0 0 7px 1px $primary;
                        transition: 400ms;
                      }
                }
            }
        }
    }

    .home-about {
        margin: 100px 0;
    }

    .home-contact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 50px 0 150px 0;
        gap: 15px;

        h2 {
            color: $text;
            text-align: center;
        }

    }

}
