@import "../../App.scss";

.sidebar {
    position: fixed;
    top: 100px;
    right: 0; 
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: $background;
    transition: right 300ms ease-in-out;
    z-index: 21;
    display: flex;
    flex-direction: column;
    gap: 150px;

    @include tablet {
        width: 100%;
    }


        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            z-index: 22;
            position: relative; 
            margin-top: 100px;
            

            a {
                display: flex;
                justify-content: center;

                li {
                    text-decoration: none;
                    color: $primary;
                    display: block; 
                    font-size: $fs-small;
                    
                    
                }
                &:hover {
                    background-color: $shadow;
                }
            }
        }

        .navbar-socials {
            color: $primary;
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            justify-content: center;
            gap: 20px;


            .item-socials {
                display: flex;
                flex-direction: column;
                

                p {
                    font-size: 10px;
                }

                
            }
        }
    
  
    .overlay-sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
      z-index: 20; 
      opacity: 1;
      transition: opacity 3s ease-in-out; 
    }
  
    &.active {
      opacity: 1;


    }
  }