@use "../../variables" as *;
@use "../../mixins" as *;

.podcasts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 130px 15px 0 15px;
  -webkit-tap-highlight-color: transparent;

  @include mini-tablet {
    padding: 200px 15px 0 15px;
    gap: 50px;
  }

  .podcasts-title {
    h2 {
      color: $primary;
      font-weight: 300;
    }
  }

  .podcasts-filter {
    width: 100%;
  }

  .podcasts-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .no-podcasts-message {
      height: 150px;

      @include large-mobile {
        height: 130px;
      }

      @include tablet {
        height: 200px;
      }
    }

    @include mini-tablet {
      max-width: 900px;
      gap: 30px;
    }
  }
}
