@use "../../variables" as *;
@use "../../mixins" as *;

.audio-player {
  position: fixed;
  bottom: -80px;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: $background;
  color: $text;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  cursor: pointer;
  transition: bottom 0.5s ease, height 0.5s ease;

  -webkit-tap-highlight-color: transparent;

  &.show {
    bottom: 0; // End position in view
  }

  &.expanded {
    height: 70vh;
    flex-direction: column-reverse;
    padding: 10px;

    @include tablet {
      height: 60vh;
    }

    .audio-player-content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      height: 100%;

      .audio-player-left {
        justify-content: center;
        align-items: center;
        flex: auto;

        img {
          height: 120px;
          width: 120px;
          object-fit: cover;
        }

        .audio-player-details {
          gap: 10px;

          h3 {
            font-size: 22px;
          }

          p {
            max-width: 250px;
            font-size: 12px;
            white-space: wrap;
            text-overflow: unset;
          }

          .podcast-tags {
            display: flex;
          }
        }
      }

      .audio-player-right {
        flex: auto;

        @include mini-tablet {
          .progress {
            width: 200px;
          }
        }

        button {
          display: flex;
        }
      }
    }
  }

  .audio-player-content {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;

    @include mini-tablet {
      height: 120px;
      max-width: 1000px;
      padding: 0 29px;
    }

    .audio-player-right {
      flex: 3;

      @include mini-tablet {
        flex: 1;
      }
    }

    .audio-player-left {
      display: flex;
      align-items: center;

      flex: 1;

      img {
        height: 40px;
        width: 40px;
        margin-right: 10px;
        object-fit: cover;
      }

      .audio-player-details {
        margin-right: 10px;
        display: flex;
        flex-direction: column;

        .podcast-tags {
          display: none;
          gap: 15px;
          color: $primary;

          span {
            box-shadow: $secondary 0 0 0.5px 0.5px;
            padding: 1px 3px;
            border-radius: $borderradius;
            font-size: 10px;
            color: $primary;
            letter-spacing: 0.5px;
            font-weight: 300;

            @include mini-tablet {
              font-size: 14px;
              padding: 2px 6px;
              box-shadow: $secondary 0 0 1px 1.5px;
            }
          }
        }

        h3 {
          font-size: 11px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          @include large-mobile {
            font-size: 14px;
          }
        }

        p {
          max-width: 100px;
          width: auto;
          font-size: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          @include mini-tablet {
            font-size: 12px;
            max-width: 200px;
          }
        }
      }
    }

    audio {
      flex-shrink: 0;
    }
  }

  .toggle-button {
    border: none;
    outline: none;
    background-color: transparent;
    color: $primary;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
  }
}
